*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont{
  background-color: rgb(201, 224, 118);
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 70px;
 height: 100vh;
}
.btn{
  font-size: 30px;
  background-color: rgb(199, 37, 37);
  color: white;
  padding: 12px 41px;
  border-radius: 17px;
  cursor: pointer;
}